body
{
    color: #333;
    font-size: 15px;
    height: 100vh;
    margin: 0px auto;
    width: 100%;
}
.inicio
{
    background: url(../images/header.jpg);
    background-position-x: center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.inicio__nav
{
    display: flex;
    justify-content: space-between;
}
.inicio__nav h1
{
    color: #fafafa;
    font-size: 20px;
    padding: 10px;
}
.inicio__botones
{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.inicio__botones__boton
{
    color: #fafafa;
    margin: 7px;
}
.inicio p
{
    color: #fafafa;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;
    line-height: 2em;
}
.title
{
    display: flex;
    *height: 20%;
    font-size: 20px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    
}
.main
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.main__box
{
    min-height: 100px;
    justify-content: space-between;
    margin:20px;
    text-align: center;
    width: 200px;
}
.main__box h2
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 15px;
}
.main__box p
{
    font-size: 14px;
    text-align: center;
}
.cards
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards__singlecard
{
    background-color: rgb(233, 233, 233);
    box-sizing: content-box;
    border-style:solid;
    border-color: rgba(160, 160, 160,0.4);
    border-width: 1px;
    flex-wrap: wrap;
    max-height: 415px;
    margin:10px;
    width: 250px;
}
.cards__singlecard p
{
    font-size: 12px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
}
.cardstitle
{
    line-height: 2rem;
    font-size: 18px;
}
.cards__singlecard__price
{
    color: rgb(103, 161, 16);
    font-weight: bold;
    font-size: 14px;
}
.cards__singlecard__imgs
{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    align-items: center;
}
.cardspropiedad
{
    align-items: center;
    background-color: orange;
    border-style: none;
    box-sizing: border-box;
    color: #fafafa;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    width: 100%;
}
.watchall
{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    width: 79.5%;
}
.watchall button
{
    align-items: center;
    background-color: rgb(103, 161, 16);
    border-style: none;
    color: #fafafa;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    width: 130px;
}
footer
{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    margin-top: 100px;
}
.backimg
{
    background: url(../images/encuentra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 85%;
    padding: 0px 50px;
    padding-bottom: 20px;
}
.backimg h1
{
    color: #fafafa;
    font-size: 27px;
    margin-left: 30px;
}
.backimg p
{
    color: #fafafa;
    margin-left: 30px;
    margin-top: 17px;
}
.backimg button
{
    background-color: orange;
    border-style: none;
    color:#fafafa;
    font-weight: bold;
    height: 37px;
    margin-left: 30px;
    margin-top: 17px;
    width: 160px;
}
.backsolid
{
    background-color: #333;
    height: 20%;
}
.backsolid__nav
{
    align-items: flex-end;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.backsolid__nav h1
{
    color: #fafafa;
    font-size: 13px;
    margin-right: 20px;
    line-height: 2rem;
}
.backsolid__botones
{
    display: flex;
    font-size: 14px;
    list-style: none;
    justify-content: space-around;
}
.backsolid__botones__boton
{
    color: #fafafa;
    margin-right: 13px;
}
/******** GENERALES **********/
.icon
{
    margin-bottom: 10px;
    padding: 10px;
    width: 90px;
}
.icon2
{
    margin-bottom: 3px;
    padding: 10px;
    width: 80px;
}
.cards__img
{
    width: 100%;
}
.logocards
{
    width: 27px;
}